<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <appSettings>
  <add key="provider" value="System.Data.SqlClient"/>
 </appSettings>
 <connectionStrings>
   <add name ="AutoLotSqlProvider" connectionString="Data Sourse = (local)\SQLEXPRESS; Integrated Security = SSPI; Initial Catalog = AutoLot"/>
   <add name="AutoLotOleDbProvider" connectionString="Provider = SQLOLEDB; Data Sourse = (local)\SQLEXPRESS; Integrated Security = SSPI; Initial Catalog = AutoLot"/>
 </connectionStrings>
</configuration>